[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
auto-gptq = "*"
opencc-python-reimplemented = "*"
transformers = "*"
sentencepiece = "*"
fastapi = "*"
sse-starlette = "*"
uvicorn = {version = "*", extras = ["standard"]}
openai = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.10"
